name: Deploy to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env: # â† Declare env variables here
      REMOTE_HOST: ${{ secrets.EC2_PUBLIC_IP }}
      REMOTE_USER: ubuntu
      SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
      MONGODB_URI: ${{ secrets.MONGODB_URI }}
      SESSION_SECRET: ${{ secrets.SESSION_SECRET }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4.4.0
        with:
          node-version: 20.11.1

      - name: Install CSS build dependencies
        run: npm install postcss postcss-cli tailwindcss autoprefixer

      - name: Build Css
        run: npm run buildcss

      - name: Deploy via SSH
        uses: easingthemes/ssh-deploy@v5.1.0
        with:
          REMOTE_HOST: ${{ env.REMOTE_HOST }}
          REMOTE_USER: ${{ env.REMOTE_USER }}
          SSH_PRIVATE_KEY: ${{ env.SSH_PRIVATE_KEY }}
          SOURCE: ./
          TARGET: /home/ubuntu/invoice
          EXCLUDE: "/dist/, /node_modules/"
          SCRIPT_AFTER: |
            cd /home/ubuntu/invoice
            cat > .env << EOF
            NODE_ENV=production
            MONGODB_URI=${{ env.MONGODB_URI }}
            SESSION_SECRET=${{ env.SESSION_SECRET }}
            PORT=3000
            EOF
            npm install --production 
            pm2 restart index.js || pm2 start index.js
