name: Deploy to AWS ubuntu EC2 instance

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: aws-ec2

    env: # â† Declare env variables here
      REMOTE_USER: ubuntu
      MONGODB_URI: ${{ secrets.MONGODB_URI }}
      SESSION_SECRET: ${{ secrets.SESSION_SECRET }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4.4.0
        with:
          node-version: 20.11.1

      - name: Install CSS build dependencies
        run: npm install postcss postcss-cli tailwindcss autoprefixer

      - name: Build Css
        run: npm run buildcss

      - name: Deploy via SSH
        uses: easingthemes/ssh-deploy@v5.1.0
        with:
          REMOTE_HOST: ${{ vars.EC2_PUBLIC_IP }}
          REMOTE_USER: ${{ env.REMOTE_USER }}
          SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          SCRIPT_BEFORE: |
            sudo mkdir -p /home/ubuntu/invoice
          SOURCE: ./
          TARGET: /home/ubuntu/invoice
          EXCLUDE: "/dist/, /node_modules/"
          SCRIPT_AFTER: |
            cd /home/ubuntu/invoice

            # check and install Node.js 20.11.1
            if ! command -v node &> /dev/null || [[ "$(node --version)" != "v20.11.1" ]]; then
                echo "Installing Node.js 20.11.1..."
                curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -
                sudo apt-get install -y nodejs
            fi

            # check and install PM2
            if ! command -v pm2 &> /dev/null; then
                echo "Installing PM2..."
                sudo npm install -g pm2
            fi

            # create .env file
            cat > .env << EOF
            NODE_ENV=production
            MONGODB_URI=${{ env.MONGODB_URI }}
            SESSION_SECRET=${{ env.SESSION_SECRET }}
            PORT=3000
            EOF


            npm install --production 
            pm2 restart index.js || pm2 start index.js
